.social-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#menu {
  position: fixed;
  top: 0;
  left: 0px;
  right: 80px;
  height: 100%;
  z-index: 500;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  -moz-transition: -moz-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: white;
  padding: 0px;
  
  @media (min-width: 767px) {
    left: 40px;
    right: 20%;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    overflow: hidden;
  }
  
  @media (min-width: 1600px) {
    left: 55px;
  }
  
  > *:not(.color) {
    position: relative;
    z-index: 10;
  }
  
  .social-list {
    margin-bottom: 40px;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
    -moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
    transition: transform 600ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 400ms linear 0ms;
    opacity: 0;
  }
  
  .menu-container {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-top: 100px;
    
    @media (max-width: 766px) {
       min-height: 100%;
       padding-left: 0px;
       display: -webkit-box;
       display: -moz-box;
       display: box;
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
       box-orient: vertical;
       -webkit-box-direction: normal;
       -moz-box-direction: normal;
       box-direction: normal;
       -webkit-flex-direction: column;
       -moz-flex-direction: column;
       flex-direction: column;
       -ms-flex-direction: column;
       padding: 0px 40px;
    }
    
    @media (min-width: 767px) {
      padding: 0px;
		  padding-left: calc(16vw - 40px);
    }
    
    @media (min-width: 1200px) {
      padding-left: calc(16vw - 60px);
    }
    
    .menu-nav {
      margin: 0px;
      padding: 0px;
      list-style: none;
      margin-bottom: 20px;
      margin-left: -10px;
      margin-top: 100px;
      
      @media (min-width: 767px) {
        margin-bottom: 60px;
        margin-top: 0px;
      }
      
      @media (min-width: 1600px) {
        margin-bottom: 100px;
      }
      
      li {
        .msk {
          padding: 0px;
          line-height: 1.1;
          
          span {
            -webkit-transition: -webkit-transform 800ms cubic-bezier(1, 0, 0, 1) 0ms;
            -moz-transition: -moz-transform 800ms cubic-bezier(1, 0, 0, 1) 0ms;
            transition: transform 800ms cubic-bezier(1, 0, 0, 1) 0ms;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
          }
        }
        
        .showMenu & {
          @for $i from 1 through 10 {
				    &:nth-child(#{$i}) .msk span {
              transition-delay: (50ms * $i + 250ms);
				    }
				  }
          .msk {
						span {
						  position: relative;
              -webkit-transform: translateY(0%);
              -moz-transform: translateY(0%);
              -ms-transform: translateY(0%);
              -o-transform: translateY(0%);
              transform: translateY(0%);
              padding: 0 10px;
							&:before {
								content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0px;
                right: 0px;
                height: 15px;
                background: #6d6d6d;
                opacity: 0.5;
                z-index: -1;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -ms-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
                -webkit-transform: scaleX(0) translateY(-50%);
                -moz-transform: scaleX(0) translateY(-50%);
                -ms-transform: scaleX(0) translateY(-50%);
                -o-transform: scaleX(0) translateY(-50%);
                transform: scaleX(0) translateY(-50%);
                -webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
                -moz-transition: -moz-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
                transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
							}
						}
					}
        }
        
        &+li {
					margin-top:6px;
				}
      
        a {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          text-decoration: none;
          font-family: 'Raleway', sans-serif;
          font-size: 21px;
          line-height: 1.1;
          font-weight: 900;
          text-decoration: none !important;
          color: inherit;

          @media (min-width: 360px) {
            font-size: 24px;
          }

          @media (min-width: 767px) {
            font-size: 30px;
          }
          @media (min-width: 1600px) {
            font-size: 38px;
          }
          
          &.active {
            pointer-events: none;
          }
          
          &.to-top .msk span:before { background:#1C7FC5;}
          
          &.to-about .msk span:before { background: #d9d9d9;}

          &.to-works .msk span:before { background: #FF0001;}

          &.to-contact .msk span:before { background: #4d4d4d;}
          
          &:hover .msk span:before, &.active .msk span:before {
            transform: scaleX(1) translateY(100%);
          }
          
          
        }
        
        
      }
    }
  }
}


 @media (min-width: 767px) {
	 .menuHover #menu {
		 -webkit-transform: translateX(-95%);
		 -moz-transform: translateX(-95%);
		 -ms-transform: translateX(-95%);
		 -o-transform: translateX(-95%);
		 transform: translateX(-95%);
	}
}


.showMenu #menu {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  
  .social-list {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
    -moz-transition: -moz-transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
    transition: transform 600ms cubic-bezier(1, 0, 0, 1) 200ms, opacity 400ms linear 350ms;
    
    @media (min-width: 767px) {
      display: none;
    }
    
    li {
      display: inline-block;
       a {
        height: 25px;
        width: 25px;
        line-height: 25px;
        display: block;
        text-align: center;
        .menu-icon {
          display: inline-block;
          vertical-align: middle;
          figure {
            display: block;
          }
        }
      }
      
      a[id='l-in'] .menu-icon figure {
        height: 18px;
        width: 18px;
        background-image: url('../images/in.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      a[id='g-hub'] .menu-icon figure {
        height: 18px;
        width: 18px;
        background-image: url('../images/ghub.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      a[id='fb'] .menu-icon figure {
        height: 18px;
        width: 18px;
        background-image: url('../images/fb.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

#menu .menu-container .menu-nav li a:hover .msk span:before, #menu .menu-container .menu-nav li a.active .msk span:before {
    -webkit-transform: scaleX(1) translateY(-50%);
    -moz-transform: scaleX(1) translateY(-50%);
    -ms-transform: scaleX(1) translateY(-50%);
    -o-transform: scaleX(1) translateY(-50%);
    transform: scaleX(1) translateY(-50%);
}



