 /* Contact */
.page-header {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}

#contact-left-bottom, #contact-right-bottom {
  position: relative;
  display: inline-block;
}

.contact-txt-top, .contact-txt-bottom {
  position: relative;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  line-height: 48px;
  font-size: 62px;
  font-weight: 900;
  height: 84px;
  text-align: center;

}

.contact-txt-top {
  padding: 36px 36px 0px 36px;
  margin-bottom: .2rem;
  width: 216px;
}

.contact-txt-bottom {
  padding: 0px 36px 36px 36px;
  width: 258px;
}

.contact-txt-top::before {
  position: absolute;
  content: '';
  height: 6px;
  width: 60px;
  top: 0;
  left: 0;
  background: #FFF;
}

.contact-txt-top::after {
  position: absolute;
  content: '';
  height: 60px;
  width: 6px;
  top: 0;
  left: 0;
  background: #FFF;
}

.contact-txt-bottom::before {
  position: absolute;
  content: '';
  height: 6px;
  width: 60px;
  bottom: 0;
  right: 0;
  background: #FFF;
}

.contact-txt-bottom::after {
  position: absolute;
  content: '';
  height: 60px;
  width: 6px;
  bottom: 0;
  right: 0;
  background: #FFF;
}

#contact-bottom {
  padding: 0px 40px 60px 40px;
}

/* MEDIA */

@media (min-width: 767px) {
 
  .page-header{
    padding: 0px;
    margin-bottom: 60px;
  }

  .contact-txt-top, .contact-txt-bottom {
    line-height: 55px;
    font-size: 72px;
    font-weight: 900;
    height: 91px;
  }
  
  .contact-txt-top {
    margin-bottom: .4rem;
    width: 235px;
  }
  
  .contact-txt-bottom {
    width: 282px;
  }
  
  #contact-bottom {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  #contact-bottom {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1200px) {

  .page-header{
    margin-bottom: 100px;
  }
  
  .contact-txt-top, .contact-txt-bottom {
    line-height: 67px;
    font-size: 90px;
    height: 103px;
  }
  
  .contact-txt-top {
    margin-bottom: .5rem;
    width: 275px;
  }
  
  .contact-txt-bottom {
    width: 330px;
  }
}



@media (min-width: 1600px) {
  
  .page-header {
    margin-bottom: 100px;
  }

  .contact-txt-top, .contact-txt-bottom {
    line-height: 86px;
    font-size: 116px;
    font-weight: 900;
    height: 122px; 
  }
  
  .contact-txt-top {
    margin-bottom: .6rem;
    width: 330px;
  }
  
  .contact-txt-bottom {
    width: 410px;
  }

}